.work {
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    margin-left: 248px;
    font-size: 25px;
    color: #9186f3;
    padding-right: 20px;
}

.drive {
    color: #9186f3;
    font-size: 25px;
}

.action {
    background-color: #131324;
}

.card {
    margin: 25px;
    cursor: pointer;
}